.modalOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalInner {
  background-color: #ffffffff;
  color: #000000ff;
  margin: 0 1rem;
  padding: 1rem 2rem;
  max-width: 40rem;
}

.modalInner > p {
  color: #3c3c4399;
}

.modalButtonWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
